---
import PageLayout from "@/layouts/Base.astro";
import jasonPlush from "./jason-plush.png";

const meta = {
	description: "I'm Jason McCay. An entrepreneur and engineer that loves to build things.",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">Hello</h1>
	<img
		src={jasonPlush.src}
		alt="Jason McCay plushie"
		class="border-global-text/20 mb-4 w-1/2 rounded-lg border"
	/>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I'm a software engineer perpetually curious about how people interact with technology and
			passionate about building positive experiences that add value to those that use tools I have
			built.
		</p>
		<p>
			As I ventured into entrepreneurship, I learned to find a balance between passion and
			pragmatism and that has helped guide me in my professional career.
		</p>
		<p>
			I'm 48 years old and live in the greater Birmingham, Alabama area with my wife, Katy, our five
			children, and our dog, Moose.
		</p>

		<h2 class="text-3xl">Work</h2>
		<p>
			My professional life has mostly been focused on web development and building startups. I have
			worked on startups in the construction space and in the messaging space.
		</p>
		<p>
			Currently, I am taking some time to focus my time on a few volunteer efforts and to spend
			focused time learning how to use AI in new ways.
		</p>
		<p>
			Previously, I founded <a href="https://www.compose.com" target="_blank">Compose</a>, which was
			acquired by IBM in 2015. Before that, I helped grow a startup called <a
				href="https://gradesfirst.com"
				target="_blank">GradesFirst</a
			>, focused on student success in collegiate academics, acquired by <a
				href="https://eab.com/"
				target="_blank">EAB</a
			> in 2015.
		</p>
		<div class="not-prose flex flex-col gap-4">
			<div class="border-global-text/10 flex items-baseline gap-4 border-b pb-3">
				<div class="text-global-text font-semibold">Enveloop</div>
				<div class="text-global-text/60 flex-1">Founder & Product Engineer</div>
				<div class="text-global-text/60">2022–2025</div>
			</div>
			<div class="border-global-text/10 flex items-baseline gap-4 border-b pb-3">
				<div class="text-global-text font-semibold">BuildPlane (YC W20)</div>
				<div class="text-global-text/60 flex-1">Founder & Product Engineer</div>
				<div class="text-global-text/60">2020–2022</div>
			</div>
			<div class="border-global-text/10 flex items-baseline gap-4 border-b pb-3">
				<div class="text-global-text font-semibold">Compose (YC S11)</div>
				<div class="text-global-text/60 flex-1">Founder & Front-End Engineer</div>
				<div class="text-global-text/60">2011–2019</div>
			</div>
			<div class="border-global-text/10 flex items-baseline gap-4 border-b pb-3">
				<div class="text-global-text font-semibold">GradesFirst</div>
				<div class="text-global-text/60 flex-1">Front-End Engineer</div>
				<div class="text-global-text/60">2009–2011</div>
			</div>
			<div class="border-global-text/10 flex items-baseline gap-4 border-b pb-3">
				<div class="text-global-text font-semibold">CommonThread</div>
				<div class="text-global-text/60 flex-1">Founder & Front-End Engineer</div>
				<div class="text-global-text/60">2007–2011</div>
			</div>
			<div class="border-global-text/10 flex items-baseline gap-4 border-b pb-3">
				<div class="text-global-text font-semibold">DAXKO</div>
				<div class="text-global-text/60 flex-1">Front-End Engineer</div>
				<div class="text-global-text/60">2004–2007</div>
			</div>
			<div class="border-global-text/10 flex items-baseline gap-4 border-b pb-3">
				<div class="text-global-text font-semibold">Auburn University</div>
				<div class="text-global-text/60 flex-1">Web Developer</div>
				<div class="text-global-text/60">2001-2004</div>
			</div>
			<div class="border-global-text/10 flex items-baseline gap-4 border-b pb-3">
				<div class="text-global-text font-semibold">Sapient</div>
				<div class="text-global-text/60 flex-1">Information Architect</div>
				<div class="text-global-text/60">2000-2001</div>
			</div>
		</div>

		<p>
			I'm a builder who thrives in early, sometimes chaotic small teams—when there's more
			uncertainty than structure and progress depends on good judgment, not perfect information. I'm
			comfortable switching between writing code, shaping product direction, and navigating
			real-world constraints. I value clarity, durability, and momentum, and I'm generally skeptical
			of over-process, polished decks, and solutions that look better in theory than they behave in
			practice.
		</p>

		<h2 class="text-3xl">Where to find me</h2>
		<p>I am modestly active on various socials. Here are the spots you can find me:</p>
		<ul class="list-inside list-disc" role="list">
			<li>
				Twitter: <a class="font-semibold" href="https://x.com/jasonmccay" target="_blank"
					>@jasonmccay</a
				>
				<li>
					LinkedIn: <a
						class="font-semibold"
						href="https://linkedin.com/in/jasonmccay"
						target="_blank">/in/jasonmccay</a
					>
				</li>
				<li>
					Instagram: <a
						class="font-semibold"
						href="https://instagram.com/jasonmccay"
						target="_blank">@jasonmccay</a
					>
				</li>
			</li>
		</ul>
	</div>
</PageLayout>
